<!DOCTYPE HTML>
<html>
<head>
    <title>네임드 젠타임 관리</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>몹</th>
            <th>위치</th>
            <th>젠 예정 시간</th>
            <th>남은 시간</th>
            <th>컷</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#each monsters}}
            <tr class="monsterGenTime" id="{{id}}">
                <td>{{name}}   {{#if mobType}} <span class="badge badge-pill badge-dark">불완전</span>{{/if}}</td>
                <td>{{location}}</td>
                <td class="genTime">{{genTimeStr}}</td>
                <td class="remainTime"></td>
                <td><button type="button" class="btn btn-success" onclick="monsterCut('{{id}}')">CUT!</button></td>
                <input type="hidden" name="genTime" value="{{genTime}}" />
                <input type="hidden" name="maxTime" value="{{maxTime}}" />
            </tr>
        {{/each}}
        </tbody>
    </table>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        setInterval(function()
        {
            setRemainTime();
        },1000);
    })

    function setRemainTime(){
        $(".monsterGenTime").each(function(){
            getRemainTime($(this).find("input[name='genTime']").val(), $(this).find("input[name='maxTime']").val(), $(this).find(".remainTime"));
        });
    }

    function getRemainTime(genTime, maxTime, obj){
        var now = new Date();
        var time = new Date(genTime);
        var gap = new Date(0,0,0,0,0,0,time-now);
        var diffHour = gap.getHours();
        var diffMin = gap.getMinutes();
        var diffSec = gap.getSeconds();

        if(time < now){
            var maxTime = new Date(maxTime);

            if(now > maxTime){
                obj.removeClass("text-primary");
                obj.removeClass("text-danger");
                obj.text("미아 상태");
            }else{
                obj.removeClass();
                obj.addClass("text-primary");
                obj.text("젠 타임!!!");
            }
        }else{
            if(diffHour == 0 && diffMin <=4){
                obj.addClass("text-danger");
            }else{
                obj.removeClass("text-danger");
            }
            obj.text(diffHour+"시간 "+diffMin+"분 "+diffSec+"초");
        }



    }

    function monsterCut(monsterID){
        if(confirm("현재 시간으로 컷 타임을 저장하시겠습니까?")){
            $.ajax({
                url : '/updateGenTime',
                type : 'post',
                data : {id:monsterID},
                success:function(data){
                    $("#"+monsterID).find("input[name='genTime']").val(data.genTime);
                    $("#"+monsterID).find(".genTime").text(data.genTimeStr);
                }
            });
        }else{
            return false;
        }
    }

    /*Handlebars.registerHelper('isIncomp', function(type, options) {
        if(type == 'INCOMP'){
            return true;
        }else{
            return false;
        }
    });*/
</script>
</html>